<section class="cost">
  <div class="container">
    <div class="cost__wrapper">
      <div class="cost__left">
        <h2 class="cost__title section-title">
          Стоимость пользованием сервиса Treball
        </h2>
        <p class="cost__text">
          Наш сервис поддерживает единый тариф для всех соискателей и составляет
          всего 1000 рублей единоразово.
        </p>
      </div>
      <div class="cost__right">
        <div class="cost-badge">
          <div class="cost-badge__top">
            <span class="cost-badge__text">тариф</span>
            <h3 class="cost-badge__title section-title">«Разовый»</h3>

            <span class="cost-badge__price">600 ₽</span>
          </div>

          <ul class="cost-badge__list">
            <li class="cost-badge__item">Составление и отправка резюме</li>
            <li class="cost-badge__item">Поиск и просмотр вакансий</li>
            <li class="cost-badge__item">Поддержка пользователей 24/7</li>
          </ul>

          <button class="cost-badge__btn btn" type="button">
            Зарегистрироваться
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
