<section class="faq">
  <div class="container">
    <div class="faq__wrapper">
      <h1 class="faq__title">Часто - задаваемые вопросы</h1>

      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Что такое Treball?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>
            Treball - это международная платформа поиска работы для
            русскоязычных граждан. На сегодняшний день у нас размещено более
            10.000 активных вакансий в Армении, Казахстане, Грузии, Турции и
            ОАЭ, и мы не останавливаемся на этом, постоянно пополняя платформу
            новыми вакансиями и странами.
          </div>
        </div>
      </div>
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Кто размещает вакансии?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>
            Treball - это международная платформа поиска работы для
            русскоязычных граждан. На сегодняшний день у нас размещено более
            10.000 активных вакансий в Армении, Казахстане, Грузии, Турции и
            ОАЭ, и мы не останавливаемся на этом, постоянно пополняя платформу
            новыми вакансиями и странами.
          </div>
        </div>
      </div>
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Вакансии из каких сфер деятельности присутствует на платформе?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>
            Treball - это международная платформа поиска работы для
            русскоязычных граждан. На сегодняшний день у нас размещено более
            10.000 активных вакансий в Армении, Казахстане, Грузии, Турции и
            ОАЭ, и мы не останавливаемся на этом, постоянно пополняя платформу
            новыми вакансиями и странами.
          </div>
        </div>
      </div>
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Как мне устроиться в компанию, если у меня нет рабочий визы?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>
            Treball - это международная платформа поиска работы для
            русскоязычных граждан. На сегодняшний день у нас размещено более
            10.000 активных вакансий в Армении, Казахстане, Грузии, Турции и
            ОАЭ, и мы не останавливаемся на этом, постоянно пополняя платформу
            новыми вакансиями и странами.
          </div>
        </div>
      </div>
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Как происходит общение с работодателем?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>
            Treball - это международная платформа поиска работы для
            русскоязычных граждан. На сегодняшний день у нас размещено более
            10.000 активных вакансий в Армении, Казахстане, Грузии, Турции и
            ОАЭ, и мы не останавливаемся на этом, постоянно пополняя платформу
            новыми вакансиями и странами.
          </div>
        </div>
      </div>
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Почему все зарплаты указаны в долларах?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>
            Treball - это международная платформа поиска работы для
            русскоязычных граждан. На сегодняшний день у нас размещено более
            10.000 активных вакансий в Армении, Казахстане, Грузии, Турции и
            ОАЭ, и мы не останавливаемся на этом, постоянно пополняя платформу
            новыми вакансиями и странами.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
