<section class="faq">
  <div class="container">
    <div class="faq__wrapper">
      <h1 class="faq__title">Часто - задаваемые вопросы</h1>

      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Что такое Treball?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>
            Treball - это международная платформа потска работы для
            русскоязычных граждан. На сегодняшний день у нас размещено более
            300.000 активных вакансий в Армении, Казахстане, Грузии, Турции и
            ОАЭ, Польше, Сербии, Черногории и мы не останавливаемся на этом,
            постоянно пополняя платформу новыми вакансиями и странами.
          </div>
        </div>
      </div>
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Кто размещает вакансии?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>
            Все вакансии напрямую от непосредственных работодателей. Вы не
            увидите вакансии различных кадровых агентств и прочих «помощников».
          </div>
        </div>
      </div>
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Почему доступ платный?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>
            Наша команда более 9 месяцев занимается постоянным развитием
            платформы и сотрудничеством с новыми работодателями. Мы тратим лишь
            собственные средства и силы на развитие и поддержку нашей платформы.
            У нас нет крупных спонсоров и различных рекламодателей. Мы живем
            нашим проектом и за счёт платного доступа постоянно имеем
            возможность развивать его и помогать сотням тысяч наших
            соотечественников в трудоустройстве за границей. А ещё, благодаря
            платному доступу мы уверены что на нашей платформе будут только
            реально заинтересованные люди, а не различные боты, что в свою
            очередь гарантирует трудоустройство каждому зарегистрированному
            пользователю.
          </div>
        </div>
      </div>
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Вакансии из каких сфер деятельности присутствует на платформе?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>
            Мы постоянно развиваемся и пополняемся новыми работодателями. У нас
            есть активные вакансии из всех сфер деятельности. Не важно кто Вы:
            водитель, сантехник, продавец, банковский сотрудник или топ менеджер
            экономической сферы, каждый из Вас сможет найти себе работу по душе.
          </div>
        </div>
      </div>
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Как мне устроиться в компанию, если у меня нет рабочий визы?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>
            Мы постоянно прорабатываем данный вопрос и в каждой вакансии Вы
            можете увидеть, помогает ли работодатель с официальным
            трудоустройством и оформлением рабочей визы или нет. В 80% вакансий
            работодатель оформляет Вас официально, что в свою очередь означает
            помощь в получении рабочей визы и остальных необходимых документов.
          </div>
        </div>
      </div>
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Как происходит общение с работодателем?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>
            Мы сделали так, чтобы Вы могли размещать своё резюме и писать письмо
            работодателю на русском языке, а работодатель видит Ваше сообщение
            уже на родном ему языке. Также происходит и в обратную сторону.
          </div>
        </div>
      </div>
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Почему все зарплаты указаны в долларах?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>
            Мы сделали это для Вашего удобства. Вы видите непосредственный
            чистый доход на руки в долларах, а уже сами можете пересчитать в
            национальной валюте Вашей страны проживания.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
