<header class="header header-fixed header--small header--catalog">
  <!-- Mobile Menu -->
  <div class="overlay"></div>

  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <a class="mobile-menu__logo logo" href="#">
        <img src="img/logo-dark.png" alt="логотип" />
      </a>
      <button
        class="mobile-menu__close"
        type="button"
        aria-label="Закрыть меню"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6 6L18 18"
            stroke="#f1ebda"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M18 6L6 18"
            stroke="#f1ebda"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>

    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>О сервисе </span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span> Цена</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Помощь</span></a>
      </li>
    </ul>
  </div>
  <!-- Mobile Menu -->

  <div class="container">
    <nav class="header__wrapper">
      <a class="header__logo logo" href="#">
        <img src="img/logo-dark.png" alt="img" />
      </a>

      <div class="header__catalog-wrap">
        <a class="header__catalog" href="#">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 0H2V2H0V0ZM7 0H9V2H7V0ZM14 0H16V2H14V0ZM0 7H2V9H0V7ZM7 7H9V9H7V7ZM14 7H16V9H14V7ZM0 14H2V16H0V14ZM7 14H9V16H7V14ZM14 14H16V16H14V14Z"
              fill="currentColor"
            />
          </svg>
          <span> Каталог вакансий </span>
        </a>

        <div class="dropdown-catalog">
          <div class="dropdown-catalog__inner">
            <ul class="dropdown-catalog__list">
              <li class="dropdown-catalog__item">
                <a class="dropdown-catalog__link" href="#">
                  IT, Интернет, связь, телеком
                </a>
              </li>
              <li class="dropdown-catalog__item">
                <a class="dropdown-catalog__link" href="#"
                  >Административная работа</a
                >
              </li>
              <li class="dropdown-catalog__item">
                <a class="dropdown-catalog__link" href="#"
                  >Банки, инвестиции, лизинг</a
                >
              </li>
              <li class="dropdown-catalog__item">
                <a class="dropdown-catalog__link" href="#"
                  >Безопасность, службы охраны</a
                >
              </li>
              <li class="dropdown-catalog__item">
                <a class="dropdown-catalog__link" href="#">
                  Автомобильный бизнес</a
                >
              </li>
              <li class="dropdown-catalog__item">
                <a class="dropdown-catalog__link" href="#"
                  >Административный персонал</a
                >
              </li>
              <li class="dropdown-catalog__item">
                <a class="dropdown-catalog__link" href="#">
                  Банки, инвестиции, лизинг</a
                >
              </li>
              <li class="dropdown-catalog__item">
                <a class="dropdown-catalog__link" href="#">Безопасность</a>
              </li>
            </ul>
            <ul class="dropdown-catalog__list">
              <li class="dropdown-catalog__item">
                <a class="dropdown-catalog__link" href="#">
                  Маркетинг, реклама, PR
                </a>
              </li>
              <li class="dropdown-catalog__item">
                <a class="dropdown-catalog__link" href="#">
                  Медицина, фармацевтика
                </a>
              </li>
              <li class="dropdown-catalog__item">
                <a class="dropdown-catalog__link" href="#">
                  Наука, образование, тренинг
                </a>
              </li>
              <li class="dropdown-catalog__item">
                <a class="dropdown-catalog__link" href="#">
                  Строительство, недвижимость
                </a>
              </li>
              <li class="dropdown-catalog__item">
                <a class="dropdown-catalog__link" href="#">
                  Производство, сельское хозяйство
                </a>
              </li>
              <li class="dropdown-catalog__item">
                <a class="dropdown-catalog__link" href="#">
                  Спортивные клубы, фитнес
                </a>
              </li>
              <li class="dropdown-catalog__item">
                <a class="dropdown-catalog__link" href="#">
                  Транспорт, логистика
                </a>
              </li>
              <li class="dropdown-catalog__item">
                <a class="dropdown-catalog__link" href="#">
                  Строительство, недвижимость
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <a class="header__help" href="#"> Помощь </a>

      <ul class="header-tools">
        <li class="header-tools__item">
          <a class="header-tools__link header-tools__link--search" href="#"></a>
        </li>
        <li class="header-tools__item">
          <a class="header-tools__link header-tools__link--fav" href="#"></a>
        </li>
        <li class="header-tools__item">
          <a class="header-tools__link header-tools__link--message" href="#">
          </a>
        </li>
        <li class="header-tools__item header-tools__item--user">
          <a class="header-tools__link header-tools__link--user" href="#"></a>

          <div class="dropdown-user">
            <ul class="dropdown-user__list">
              <li class="dropdown-user__item">
                <a
                  class="dropdown-user__link dropdown-user__link--personal"
                  href="#"
                >
                  Личные данные
                </a>
              </li>
              <li class="dropdown-user__item">
                <a
                  class="dropdown-user__link dropdown-user__link--resume"
                  href="#"
                >
                  Мои резюме
                </a>
              </li>
              <li class="dropdown-user__item">
                <a
                  class="dropdown-user__link dropdown-user__link--messages"
                  href="#"
                >
                  Сообщения
                </a>
              </li>
              <li class="dropdown-user__item">
                <a
                  class="dropdown-user__link dropdown-user__link--fav"
                  href="#"
                >
                  Избранные
                </a>
              </li>
            </ul>
            <button class="dropdown-user__btn btn" type="button">
              Добавить реюме
            </button>
          </div>
        </li>
      </ul>

      <button class="header__toggle" type="button" aria-label="Открыть меню">
        <span class="header__toggle-line"></span>
      </button>
    </nav>
  </div>
</header>
