<section class="help">
  <div class="container">
    <h1 class="help__title section-title">Помощь</h1>

    <ul class="help__list">
      <li class="help__item">
        <a class="help-card help-card--questions" href="#">
          <span>
            Часто - задаваемые <br />
            вопросы
          </span>
        </a>
      </li>
      <li class="help__item">
        <a class="help-card help-card--support" href="#">
          <span>
            Запрос в техническую <br />
            поддержку
          </span>
        </a>
      </li>
      <li class="help__item">
        <a class="help-card help-card--consultant" href="#">
          <span> Онлайн - консультант </span>
        </a>
      </li>
    </ul>
  </div>
</section>
