<section class="hero" style="background-image: url('img/hero.jpg')">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <div class="hero__offer-left">
          <h2 class="hero__title section-title">
            Вакансии для русскоязычных граждан за границей
          </h2>
          <p class="hero__text">Сервис поиска работы за рубежом</p>
          <button class="hero__btn btn" type="button">
            Зарегистрироваться
          </button>
        </div>
        <div class="hero__offer-right">
          <span> более 1 500 </span> вакансий за границей
        </div>
      </div>
      <ul class="hero__countries">
        <li class="hero__country">
          <picture>
            <source srcset="img/countries/1.webp" type="image/webp" />
            <img src="img/countries/1.png" alt="country" />
          </picture>
          <span>Армения</span>
        </li>
        <li class="hero__country">
          <picture>
            <source srcset="img/countries/2.webp" type="image/webp" />
            <img src="img/countries/2.png" alt="country" />
          </picture>
          <span>Казахстан</span>
        </li>
        <li class="hero__country">
          <picture>
            <source srcset="img/countries/3.webp" type="image/webp" />
            <img src="img/countries/3.png" alt="country" />
          </picture>
          <span>Турция</span>
        </li>
        <li class="hero__country">
          <picture>
            <source srcset="img/countries/4.webp" type="image/webp" />
            <img src="img/countries/4.png" alt="country" />
          </picture>
          <span>Грузия</span>
        </li>
        <li class="hero__country">
          <picture>
            <source srcset="img/countries/5.webp" type="image/webp" />
            <img src="img/countries/5.png" alt="country" />
          </picture>
          <span>ОАЭ</span>
        </li>
      </ul>
    </div>
  </div>
</section>
