<section class="messages">
  <div class="container container--small">
    <h1 class="messages__title">Сообщения</h1>

    <ul class="messages__list">
      <li class="messages-item">
        <div class="messages-item__company">
          <picture>
            <source srcset="img/companies/1.webp" type="image/webp" />
            <img
              class="messages-item__img"
              src="img/companies/1.png"
              alt="img"
            />
          </picture>
          <h3 class="messages-item__title">Название компании</h3>
        </div>
        <div class="messages-item__text">
          <p>Здравствуйте! Мы ознакомились с Вашим резюме....</p>
        </div>
        <div class="messages-item__right">
          <span class="messages-item__indicator"></span>
          <button
            class="messages-item__remove"
            type="button"
            aria-label="Удалить"
          ></button>
        </div>
      </li>
      <li class="messages-item">
        <div class="messages-item__company">
          <picture>
            <source srcset="img/companies/2.webp" type="image/webp" />
            <img
              class="messages-item__img"
              src="img/companies/2.png"
              alt="img"
            />
          </picture>
          <h3 class="messages-item__title">Название компании</h3>
        </div>
        <div class="messages-item__text">
          <p>Здравствуйте! Мы ознакомились с Вашим резюме....</p>
        </div>
        <div class="messages-item__right">
          <span class="messages-item__indicator"></span>
          <button
            class="messages-item__remove"
            type="button"
            aria-label="Удалить"
          ></button>
        </div>
      </li>
      <li class="messages-item">
        <div class="messages-item__company">
          <picture>
            <source srcset="img/companies/3.webp" type="image/webp" />
            <img
              class="messages-item__img"
              src="img/companies/3.png"
              alt="img"
            />
          </picture>
          <h3 class="messages-item__title">Название компании</h3>
        </div>
        <div class="messages-item__text">
          <p>Здравствуйте! Мы ознакомились с Вашим резюме....</p>
        </div>
        <div class="messages-item__right">
          <span class="messages-item__indicator"></span>
          <button
            class="messages-item__remove"
            type="button"
            aria-label="Удалить"
          ></button>
        </div>
      </li>
      <li class="messages-item">
        <div class="messages-item__company">
          <picture>
            <source srcset="img/companies/4.webp" type="image/webp" />
            <img
              class="messages-item__img"
              src="img/companies/4.png"
              alt="img"
            />
          </picture>
          <h3 class="messages-item__title">Название компании</h3>
        </div>
        <div class="messages-item__text">
          <p>Здравствуйте! Мы ознакомились с Вашим резюме....</p>
        </div>
        <div class="messages-item__right">
          <span class="messages-item__indicator"></span>
          <button
            class="messages-item__remove"
            type="button"
            aria-label="Удалить"
          ></button>
        </div>
      </li>
    </ul>
  </div>
</section>
