<section class="message">
  <div class="container">
    <h1 class="message__title">Сообщения</h1>

    <div class="message__content">
      <div class="message__inner">
        <div class="message__items">
          <div class="message-item">
            <a class="message-item__img" href="#">
              <picture>
                <source srcset="img/companies/1.webp" type="image/webp" />
                <img src="img/companies/1.png" alt="" />
              </picture>
            </a>

            <div class="message-item__text">
              <p>
                Здравствуйте! Мы ознакомились с Вашим резюме и вы нам подходите
                по всем характеристикам. Скажите, мы можем задать Вам несклько
                вопросов?
              </p>
            </div>
          </div>
          <div class="message-item message-item--reverse">
            <a class="message-item__img" href="#">
              <picture>
                <source srcset="img/user-default.webp" type="image/webp" />
                <img src="img/user-default.png" alt="" />
              </picture>
            </a>

            <div class="message-item__text">
              <p>Добрый день, конечно!</p>
            </div>
          </div>

          <div class="message-item">
            <a class="message-item__img" href="#">
              <picture>
                <source srcset="img/companies/1.webp" type="image/webp" />
                <img src="img/companies/1.png" alt="" />
              </picture>
            </a>

            <div class="message-item__text">
              <p>
                Здравствуйте! Мы ознакомились с Вашим резюме и вы нам подходите
                по всем характеристикам. Скажите, мы можем задать Вам несклько
                вопросов?
              </p>
            </div>
          </div>
          <div class="message-item">
            <a class="message-item__img" href="#">
              <picture>
                <source srcset="img/companies/1.webp" type="image/webp" />
                <img src="img/companies/1.png" alt="" />
              </picture>
            </a>

            <div class="message-item__text">
              <p>
                Здравствуйте! Мы ознакомились с Вашим резюме и вы нам подходите
                по всем характеристикам. Скажите, мы можем задать Вам несклько
                вопросов?
              </p>
            </div>
          </div>
          <div class="message-item message-item--reverse">
            <a class="message-item__img" href="#">
              <picture>
                <source srcset="img/user-default.webp" type="image/webp" />
                <img src="img/user-default.png" alt="" />
              </picture>
            </a>

            <div class="message-item__text">
              <p>Добрый день, конечно!</p>
            </div>
          </div>
        </div>
      </div>
      <!--  data-simplebar
        data-simplebar-auto-hide="false" -->

      <form class="message__form form-message">
        <label class="form-message__group">
          <button class="form-message__attach">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.5 7.5L7.743 13.257C6.94385 14.0356 5.87016 14.4681 4.75444 14.4609C3.63871 14.4536 2.57075 14.0072 1.78179 13.2182C0.992839 12.4293 0.546397 11.3613 0.539137 10.2456C0.531877 9.12984 0.964383 8.05615 1.743 7.257L7.672 1.328C8.20244 0.797567 8.92186 0.499573 9.672 0.499573C10.4221 0.499573 11.1416 0.797567 11.672 1.328C12.2024 1.85843 12.5004 2.57785 12.5004 3.328C12.5004 4.07815 12.2024 4.79757 11.672 5.328L5.914 11.086C5.64879 11.3512 5.28908 11.5002 4.914 11.5002C4.53893 11.5002 4.17922 11.3512 3.914 11.086C3.64879 10.8208 3.49979 10.4611 3.49979 10.086C3.49979 9.71093 3.64879 9.35122 3.914 9.086L9.5 3.5"
                stroke="currentColor"
              />
            </svg>
          </button>
          <textarea
            class="form-message__input"
            placeholder="Сообщение"
          ></textarea>
          <button
            class="form-message__send"
            type="submit"
            aria-label="Отправить"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.946 9.315C1.424 9.141 1.419 8.86 1.956 8.681L21.043 2.319C21.572 2.143 21.875 2.439 21.727 2.957L16.273 22.043C16.123 22.572 15.818 22.59 15.594 22.088L12 14L18 6L10 12L1.946 9.315Z"
                fill="currentColor"
              />
            </svg>
          </button>
        </label>
      </form>
    </div>
  </div>
</section>
