<section class="personal">
  <div class="container container--small">
    <h2 class="personal__title">Личные данные</h2>

    <div class="personal__content">
      <div class="personal__inner">
        <div class="personal__items">
          <div class="personal__item">
            <div class="personal__name">Имя Фамилия</div>
            <div class="personal__text">Иван Иванов</div>
            <button class="personal__change" type="button">Изменить</button>
          </div>
          <div class="personal__item">
            <div class="personal__name">Пароль</div>
            <div class="personal__text">Иван Иванов</div>
            <button class="personal__change" type="button">Изменить</button>
          </div>
          <div class="personal__item">
            <div class="personal__name">Телефон</div>
            <div class="personal__text">Иван Иванов</div>
            <button class="personal__change" type="button">Изменить</button>
          </div>
          <div class="personal__item">
            <div class="personal__name">E-mail</div>
            <div class="personal__text">Иван Иванов</div>
            <button class="personal__change" type="button">Изменить</button>
          </div>
          <div class="personal__item">
            <div class="personal__name">Страна поиска работы</div>
            <div class="personal__text">Иван Иванов</div>
            <button class="personal__change" type="button">Изменить</button>
          </div>
          <div class="personal__item">
            <div class="personal__name">Социальные сети</div>
            <div class="personal__text">Иван Иванов</div>
            <button class="personal__change" type="button">Изменить</button>
          </div>
        </div>
        <div class="personal__avatar">
          <div class="personal__img">
            <picture>
              <source srcset="img/avatar.webp" type="image/webp" />
              <img src="img/avatar.png" alt="avatar" />
            </picture>

            <button class="personal__add-photo">Добавить фото</button>
          </div>
          <p class="personal__text">
            Это фото будет отображаться <br />
            в Ваших резюме
          </p>
        </div>
        <div class="personal__bottom">
          <button class="personal__remove" type="button">
            Удалить аккаунт
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
