<section class="resume">
  <div class="container">
    <div class="resume__top">
      <h1 class="resume__title">Мои резюме</h1>
      <button class="resume__btn btn" type="button">Добавить резюме</button>
    </div>

    <div class="resume__content">
      <picture>
        <source srcset="img/resume-empty.webp" type="image/webp" />
        <img class="resume__img" src="img/resume-empty.png" alt="img" />
      </picture>
      <div class="resume__text">Вы не опубликовали еще не одного резюме</div>
    </div>
  </div>
</section>
