<section class="steps">
  <div class="container">
    <ul class="steps__list">
      <li class="steps-item">
        <div class="steps-item__img">
          <picture>
            <source srcset="img/steps/1.webp" type="image/webp" />
            <img src="img/steps/1.jpg" alt="img" />
          </picture>
        </div>
        <p class="steps-item__text">
          <a href="#">Зарегистрируйтесь</a> <br />
          на платформе
        </p>
      </li>
      <li class="steps-item">
        <div class="steps-item__img">
          <picture>
            <source srcset="img/steps/2.webp" type="image/webp" />
            <img src="img/steps/2.jpg" alt="img" />
          </picture>
        </div>
        <p class="steps-item__text">
          Составьте и отправьте <br />
          резюме
        </p>
      </li>
      <li class="steps-item">
        <div class="steps-item__img">
          <picture>
            <source srcset="img/steps/3.webp" type="image/webp" />
            <img src="img/steps/3.jpg" alt="img" />
          </picture>
        </div>
        <p class="steps-item__text">
          Пройдите <br />
          себеседование
        </p>
      </li>
      <li class="steps-item">
        <div class="steps-item__img">
          <picture>
            <source srcset="img/steps/4.webp" type="image/webp" />
            <img src="img/steps/4.jpg" alt="img" />
          </picture>
        </div>
        <p class="steps-item__text">
          Получите приглашение <br />
          на работу
        </p>
      </li>
    </ul>
  </div>
</section>
