<section class="support">
  <div class="container">
    <h2 class="support__title">Запрос в техническую поддержку</h2>

    <form class="support__form form-support">
      <select class="form-support__select select">
        <option value="1">Выберите тему запроса</option>
        <option value="2">Выберите тему запроса</option>
        <option value="3">Выберите тему запроса</option>
      </select>

      <label>
        <textarea
          class="form-support__input form-support__input--textarea"
          placeholder="Сообщение"
        ></textarea>
      </label>

      <div class="form-support__inputs">
        <label class="form-support__label">
          <input class="form-support__input" type="text" placeholder="Имя" />
        </label>
        <label class="form-support__label">
          <input
            class="form-support__input"
            type="email"
            placeholder="E-mail"
          />
        </label>
      </div>

      <label class="checkbox">
        <input class="checkbox__input" type="checkbox" checked />
        <span class="checkbox__box"></span>
        <span class="checkbox__text">
          Отправляя запрос я соглашаюсь с
          <a href="#">политикой конфиденциальности</a>
        </span>
      </label>

      <button class="form-support__btn btn" type="submit">Отправить</button>
    </form>
  </div>
</section>
