<section class="vacancies">
  <div class="container">
    <div class="vacancies__top">
      <h2 class="vacancies__title section-title">
        База актуальных вакансий в разных сферах
      </h2>
      <p class="vacancies__text">
        Все вакансии только от проверенных работодателей
      </p>
    </div>
    <ul class="vacancies__list">
      <li class="vacancies-item">
        <picture>
          <source srcset="img/vacancies/1.webp" type="image/webp" />
          <img
            class="vacancies-item__img"
            src="img/vacancies/1.jpg"
            alt="img"
          />
        </picture>
        <div class="vacancies-item__info">
          <b class="vacancies-item__name">Высший менеджмент</b>
        </div>
      </li>
      <li class="vacancies-item">
        <picture>
          <source srcset="img/vacancies/2.webp" type="image/webp" />
          <img
            class="vacancies-item__img"
            src="img/vacancies/2.jpg"
            alt="img"
          />
        </picture>
        <div class="vacancies-item__info">
          <b class="vacancies-item__name">Банки, инвестиции</b>
        </div>
      </li>
      <li class="vacancies-item">
        <picture>
          <source srcset="img/vacancies/3.webp" type="image/webp" />
          <img
            class="vacancies-item__img"
            src="img/vacancies/3.jpg"
            alt="img"
          />
        </picture>
        <div class="vacancies-item__info">
          <b class="vacancies-item__name">Безопасность</b>
        </div>
      </li>
      <li class="vacancies-item">
        <picture>
          <source srcset="img/vacancies/4.webp" type="image/webp" />
          <img
            class="vacancies-item__img"
            src="img/vacancies/4.jpg"
            alt="img"
          />
        </picture>
        <div class="vacancies-item__info">
          <b class="vacancies-item__name">Домашний персонал</b>
        </div>
      </li>
      <li class="vacancies-item">
        <picture>
          <source srcset="img/vacancies/5.webp" type="image/webp" />
          <img
            class="vacancies-item__img"
            src="img/vacancies/5.jpg"
            alt="img"
          />
        </picture>
        <div class="vacancies-item__info">
          <b class="vacancies-item__name">Недвижимость</b>
        </div>
      </li>
      <li class="vacancies-item">
        <picture>
          <source srcset="img/vacancies/6.webp" type="image/webp" />
          <img
            class="vacancies-item__img"
            src="img/vacancies/6.jpg"
            alt="img"
          />
        </picture>
        <div class="vacancies-item__info">
          <b class="vacancies-item__name">Маркетинг, реклама, PR</b>
        </div>
      </li>
      <li class="vacancies-item">
        <picture>
          <source srcset="img/vacancies/7.webp" type="image/webp" />
          <img
            class="vacancies-item__img"
            src="img/vacancies/7.jpg"
            alt="img"
          />
        </picture>
        <div class="vacancies-item__info">
          <b class="vacancies-item__name">IT - специализация</b>
        </div>
      </li>
      <li class="vacancies-item">
        <picture>
          <source srcset="img/vacancies/8.webp" type="image/webp" />
          <img
            class="vacancies-item__img"
            src="img/vacancies/8.jpg"
            alt="img"
          />
        </picture>
        <div class="vacancies-item__info">
          <b class="vacancies-item__name">Транспорт, логистика</b>
        </div>
      </li>
    </ul>

    <div class="vacancies__bottom">
      <button class="vacancies__btn btn" type="button">
        Зарегистрируйтесь
      </button>
      <p>
        и <a href="#">получите доступ</a> ко всем актуальным вакансиям за
        границей
      </p>
    </div>
  </div>
</section>
