<section class="vacancy">
  <div class="container">
    <div class="vacancy__wrapper">
      <div class="vacancy__top">
        <div class="vacancy__left">
          <h1 class="vacancy__title">Аккаунт-мееджер</h1>
          <div class="vacancy__company">
            Компания: <a href="#">NewCompany</a>
            <a class="vacancy__country" href="#">Турция</a>
          </div>
          <span class="vacancy__price">500 - 1 500 $/мес</span>
        </div>
        <div class="vacancy__btns">
          <button class="vacancy__btn btn btn--transparent" type="button">
            Добавить в избранные
          </button>
          <button class="vacancy__btn btn" type="button">
            Отправить резюме
          </button>
        </div>
      </div>

      <div class="vacancy__box">
        <p class="vacancy__heading">Обязанности:</p>

        <ul class="vacancy__list">
          <li class="vacancy__item">
            • Сопровождение и развитие существующих клиентов
          </li>
          <li class="vacancy__item">
            • Регулярная коммуникация с клиентами для своевременного
            отслеживания проблем и задач
          </li>
          <li class="vacancy__item">
            • Анализ инфраструктуры и бизнеса заказчика, генерация проектов на
            основании полученных сведений
          </li>
          <li class="vacancy__item">• Контроль всех этапов сделки</li>
          <li class="vacancy__item">
            • Отчетность руководителю о проделанной работе за выбранный период
          </li>
          <li class="vacancy__item">
            • Контроль документооборота с Заказчиками.
          </li>
        </ul>
      </div>

      <div class="vacancy__box">
        <p class="vacancy__heading">Требования:</p>

        <ul class="vacancy__list">
          <li class="vacancy__item">• Четкое соблюдение принципов ITHaT</li>
          <li class="vacancy__item">
            • Соблюдение всех выстроенных процессов в компании
          </li>
          <li class="vacancy__item">
            • Наличие опыта работы в продажах IT-оборудования, ПО, услуг не
            менее 3 лет
          </li>
          <li class="vacancy__item">
            • Понимание продуктовой линейки в IT: ПО, лицензии, сервера, СХД,
            сетевое оборудование и прочее
          </li>
          <li class="vacancy__item">
            • Опыт операционной деятельности с контрагентами
          </li>
          <li class="vacancy__item">
            • Навыки работы в программах автоматизированного учета (CRM)
          </li>
        </ul>
      </div>

      <div class="vacancy__box">
        <p class="vacancy__heading">Условия:</p>

        <ul class="vacancy__list">
          <li class="vacancy__item">• Оформление по ТК;</li>
          <li class="vacancy__item">• График 5/2 с 10.00 до 18.00;</li>
          <li class="vacancy__item">
            • Конкурентная зарплата от 80 000 р.(оклад)</li>
          <li class="vacancy__item">• высокий процент с каждой закрытой сделки</li>
          <li class="vacancy__item">• Дружный коллектив</li>
          <li class="vacancy__item">• Перспектива карьерного роста</li>
          <li>• Оборудованное рабочее место: корпоративная техника Apple</li>
        
        </ul>
      </div>
    </div>
  </div>
</section>
